:root(body) {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: calc(1rem + 0.25vh);
}

a:not(.logo) {
  font-weight: bold;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: var(--primary-color);

  &:hover, &:focus {
    border-bottom: 3px solid currentColor;
  }
}
